.statusBar {
    position: sticky;
    display: flex;
    padding: 0 10px;
    top: 0;
    height: 30px;
    min-height: 30px;
    max-height: 30px;
    overflow: hidden;
    z-index: 1000;
}

/* text-truncate */
.statusBar > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
