.bgRow > td {
    background: var(--row-bg-color) !important;
}

.spDayTable {
    table-layout: fixed;
    min-width: 350px;
    white-space: nowrap;
    margin-bottom: 20px;
    line-height: 20px;
}

.spDayTable tr {
    height: 40px;
}

.spDayTable tr > td {
    overflow: hidden;
    text-overflow: ellipsis;
}

button.actionButton {
    height: 25px;
    width: 25px;
    padding: 0;
    margin-left: 5px;
}

.modalTable {
    position: absolute;
    z-index: 2001;
}