/* Chrome, Safari, Edge */
.noSpinner::-webkit-outer-spin-button,
.noSpinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.noSpinner {
    -moz-appearance: textfield;
}
